/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333333;
  background-color: #f4f4f4;
}

/* Header */
header {
  background-color: #39afd1;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

header nav ul li a:hover {
  color: #f4f4f4;
  text-decoration: underline;
}

/* Hero Section */
.hero {
  background: url('../assets/hotel.jpeg') no-repeat center center/cover;
  color: #fff;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.5rem;
}

/* Footer */
footer {
  background-color: #12263F;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}

footer .social-links a {
  color: #E63757;
  margin: 0 10px;
  text-decoration: none;
}

footer .social-links a:hover {
  text-decoration: underline;
}

.about-section{
  background: url('../assets/hotel1.jpeg') no-repeat center center/cover;
  color: #fff;
  text-align: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-section h1{
  text-align: center;
  color: greenyellow;
  animation: fadeIn 3s ease-in-out;
}

.contact-section h1{
  text-align: center;
  color: greenyellow;
  animation: fadeIn 3s ease-in-out;
}

.contact-section p{
  text-align: center;
  font-style: italic;
}

.contact-info{
  text-align: center;
}
/*
.contact-section form{
  align-items: center;
}
  */